@use "sass:map";

// root variables
$root: (
    "max-width": 1440px,
    "padding": (
        "top": 2em,
        "right": 1em,
        "bottom": 2em,
        "left": 1em
    ),
);

// nav

$nav: (
    "max-width": 1240px
);

$banner: ("background": './images/banner/Background.jpg');