@use '/src/style/abstract/variable' as *;
@use "sass:map";

.banner {
    position: relative;
    height: 100%;
    margin-top: 63px;
    @media screen  and (max-width: map.get($root , "max-width-media" )) {
        margin-top: 16px;
    }

    img {
        height:223px;
        width: 100%;
        filter: brightness(50%);
        border-radius: 25px;
        @media screen  and (max-width: map.get($root , "max-width-media" )) {
            border-radius: 10px;
            height:111px;
            object-fit: cover;
        }
    }

    .about {
        @media screen  and (max-width: map.get($root , "max-width-media" )) {
            height: 223px;
        }
    }

    h1 {
        margin: 0;
        display: flex;
        justify-content: center;
        position: absolute;
        width: 100%;
        font-weight: 500;
        font-size: 48px;
        color: white;
        // vertical-align: middle;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        @media screen  and (max-width: map.get($root , "max-width-media" )) {
            font-size: 24px;
            width: 217px;
            left: calc(16px);
            transform: translate(0%, -50%);
            // transform: initial;
        }
    }
}

