.gallery {
    width: 100%;
    background: #cccccc; // CHANGE TO #F7F7F7 !!!!!!! only for my screen !!!!!!!!!
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 56px;
}