@use '/src/style/abstract/variable' as *;
@use "sass:map";

.containerDetail, .location, .location > div:nth-child(3), .proprio, .proprio > div {
    display: flex;
}
.containerDetail {
    margin-top: 30px;
    justify-content: space-between;
    font-weight: 500;
    color: #FF6060;
    @media screen  and (max-width: map.get($root , "max-width-media" )) {
        margin-top: 15px;
        flex-direction: column;
    }
}

.location {
    width: 80%;
    flex-direction: column;
    @media screen  and (max-width: map.get($root , "max-width-media" )) {
        width: 100%;
    }
    > div:first-child { // title
        font-size: 36px;
        @media screen  and (max-width: map.get($root , "max-width-media" )) {
            font-size: 18px;
        }
    }
    > div:nth-child(2) { // location
        font-size: 18px;
        @media screen  and (max-width: map.get($root , "max-width-media" )) {
            font-size: 14px;
            margin-top: 15px;
        }
    }
    > div:nth-child(3) { // tags
        flex-wrap: wrap;
        margin-top: 20px;
        @media screen  and (max-width: map.get($root , "max-width-media" )) {
            margin-top: 10px;
        }
        > div {
            background-color: #FF6060;
        min-width: 140px;
        font-size: 14px;
        margin: 0 10px 10px 0 ;
        margin-right: 10px;
        padding: 3px 5px 3px 5px;
        border-radius: 10px;
        color: #FFFFFF;
        text-align: center;
        @media screen  and (max-width: map.get($root , "max-width-media" )) {
            font-size: 10px;
            min-width: 84px;
        }
        }
        
    }
}

.proprio {
    flex-direction: column;
    align-items: end;
    width: 20%;
    font-size: 18px;
    @media screen  and (max-width: map.get($root , "max-width-media" )) {
        flex-direction: row-reverse;
        align-items: center;
        font-size: 12px;
        width: 100%;
    }
    > div > div > img { // picture proprio
        width: 64px;
        height: 64px;
        border-radius: 50%;
        @media screen  and (max-width: map.get($root , "max-width-media" )) {
            width: 32px;
            height: 32px;
        }
    }
    > div > img { // etoile
        width: 24px;
        height: 24px;
        margin: 27px 0 0 15px;
        @media screen  and (max-width: map.get($root , "max-width-media" )) {
            width: 13px;
            height: 13px;
            margin: 0 7px 0 0;
        }
    }
    > div {
        width: 100%;
        justify-content: end;
        @media screen  and (max-width: map.get($root , "max-width-media" )) {
            justify-content: initial;
        }
        > div:first-child {
            max-width: min-content;
            margin: auto;
            margin-right: 10px;
            text-align: end;
        }
    }
}