@use '/src/style/abstract/variable' as *;
@use "sass:map";

.footer {
    margin-top: 50px;
    background: black;
    height: 209px;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        margin-top: 66px;
        height: 40px;
        width: 122px;
        @media screen  and (max-width: map.get($root , "max-width-media" )) {
            margin-top: 62px;
        }
    }

    p {

        margin: 40px 0 0 0;
        color: #FFFFFF;
        font-weight: 500;
        font-size: 24px;
        @media screen  and (max-width: map.get($root , "max-width-media" )) {
            font-size: 12px;
            margin: 31px 0 0 0;
        }
    }
}