@use '/src/style/abstract/variable' as *;
@use "sass:map";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Montserrat';
    font-style: normal;
}

.header {
    display: flex;
    width: 100%;
}

.header a {
    width: 211px;
    @media screen  and (max-width: map.get($root , "max-width-media" )) {
        width: 145px;
    }
}

.header .active {
    text-decoration-line: underline;
}